@media only screen and (min-width: 35rem){
    nav button{
        display: none;
    }
    nav ul#primaryNav{
        display: flex;
        margin-left: 2vw;
        border-left: 1px solid rgba(0,0,0,.3);
        justify-content: space-evenly;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,.3);
    }
    .logo-container img{
        max-width: 150px;
        width: 20%;
        height: auto;
    }
    .logo-container h1{
        font-size: 1.8rem;
    }

  /*This is some change in main element in medium size*/
  main {
    background-color: #ffe5ae;
    grid-template-columns: 1fr 1fr 1fr;

  }

  .demography1 {
    grid-column: 1/4;
  }

  .demography2 {
    grid-column: 1/4;
  }


  .demography3 {
    grid-column: 1/4;
  }


  .hero h2 {
    left: 100px;
  }

  /**This is the button in the main hero**/
  .hero .btn_main {
    left: 350px;
  }


  /**This is the section for news release**/
  .news {
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: #dda274;
  }



  /**This is the section for publicity**/
  .holderspot {
    grid-column: 1/4;
    grid-row: 4/5;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
  }

  .holderspot .spot1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .holderspot .spot2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }





  .join {
    display: block;
    grid-column: 1/4;
    grid-row: 4/5;
  }

  .join img {
    object-fit: cover;
    width: 20%;
  }

  /*This is the code for the event section*/
  .event {
    grid-column: 1/3;
    grid-row: 5/6;

  }




  /*This is the weather section*/
  .weather {
    grid-column: 3/4;
    grid-row: 5/6;
    width: 100%;
  }

  .list section{
    flex-direction: row;
   
  }

  .list section h2{
    text-shadow: 3px 3px 10px rgb(32, 13, 1);
    padding-bottom: 0;
  }

  

    footer{
        grid-template-columns: 1fr 1fr;
    }
    footer ul{
        display: flex;
        flex-direction: row;
    }
    footer ul, footer p {
        grid-column: 1/3;
    }

}
