body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    min-height: 100%;
}

h1 {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
}

.header-grid {
    display: grid;
    grid-template-columns: 60% 1fr 1fr;
    grid-template-rows: 1fr fit-content;
    background-color: #FFCB2F;
    color: #eeeeee;
    height: min-content;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 1rem;
}

.logo-img {
    padding: 1rem 10px 2rem 5px;
    height: 60%;
    width: 7rem;
}

.logo-info {
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a img {
    margin: .3rem;
    height: 40px;
}

button {
    background: none;
    border: none;
}

button span {
    color: #8de5b0;
    font-size: 2rem;
}

nav {
    grid-row: 2/3;
    grid-column: 1/4;
    width: 100%;
}

.active {
    color: #c1a871;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 2rem;
}

nav ul li {
    display: grid;
}

nav ul li a {
    height: 100%;
    width: 100%;
    color: #eeeeee;
    text-decoration: none;
    font-family: 'Abel', sans-serif;
    align-self: center;
    text-align: center;
    padding-top: 1rem;
    font-weight: bold;
}

nav ul {
    display: none;
}

.open ul {
    display: block;
}

button.open :nth-child(1) {
    display: none;
}

button.open :nth-child(2) {
    display: block;
}

button :nth-child(2) {
    display: none;
}

#header-date {
    margin-top: 3rem;
    grid-column: 1/4;
    color: #ffe5ae;
    text-align: center;
    height: 1rem;
}

.placeholder-item {
    border: 1px solid gray;
    color: gray;
    height: 15rem;
    margin: 10px;
    padding: 1rem;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.placeholder-spotlights {
    border: 1px solid gray;
    color: gray;
    height: fit-content;
    margin: 10px;
    padding: 1rem;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.placeholder-spotlights:nth-child(3) {
    display: none;
}

.spotlight {
    border: 1px solid gray;
    height: 12rem;
}

.join {
    display: none;
}

footer {
 margin-top: -60px;
  width: 100%;
  background-color: #FFCB2F;
  padding: 70px 0px;
  -webkit-clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%);
  -o-clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%); 
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    color: #eeeeee;
    align-items: center;
    text-align: center;
}

.first-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.second-half {
    font-family: 'Montserrat', sans-serif;
}

.footer-logo {
    padding: 0px;
}

hr {
    width: 90%;
}

nav ul li a:hover,
.social-links img:hover {
    color: #e6e0d4;
    background-color: #9fcae3;
}

button span:hover {
    color: #d2cdc1;
}