@media only screen and (min-width: 32.5em) {
    .title h1 {
        font-size: 1.8em;
    }

    nav button{
        display: none;
    }
    nav ul#primaryNav{
        display: flex;
        margin-left: 2vw;
        border-left: 1px solid rgba(0,0,0,.3);
        justify-content: space-evenly;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,.3);
    }
    .logo-container img{
        max-width: 150px;
        width: 100%;
        height: auto;
    }
    .logo-container h1{
        font-size: 1.8rem;
    }
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
        border-right: 1px solid rgba(0, 0, 0, .1);
    }

    .navigation li a {
        text-align: center;
    }

    .navigation li a:hover {
        background-color: rgba(0, 0, 0, .3);
    }

    .navigation li:last-of-type{
        border-right:none;
    }

    .navigation li:first-child {
        display: none;
    }

    form{
        width: 80%;
        margin: .5em auto 2em auto;
    }

    .input-box textarea {
        height: 10em;
    }
    footer{
        grid-template-columns: 1fr 1fr;
    }
    footer ul{
        display: flex;
        flex-direction: row;
    }
    footer ul, footer p {
        grid-column: 1/3;
    }
}