*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/*Header Style*/
header{
    background-color: #FFCB2F;
    padding: .5rem 0;
}

h1 {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: .8rem;
}
.logo-container img{
    border-radius: 15px;
    max-width: 90px;
    width: 100%;
    height: auto;
}

.logo-container h1{
    font-size: 1.1rem;
}

.social-links-container{
    display: flex
    ;
}
.social-links-container img{
    width: 32px;
    margin-right: 10px;
    cursor: pointer;
    background-color: white;

}

header nav{
    max-width: 868px;
    margin: 0 auto;
}
.navigation{
    list-style: none;

}
.navigation li a {
    display: block;
    text-decoration: none;
    color: #CCCCCC;
    font-weight: bold;
    padding: .8rem;
    transition: .4s;
}
.navigation li a {
    color: white;
}

.navigation li a:hover{
    color: #F2294E;
}

nav button{
    margin: .4rem;
    padding: .5rem;
    border: none;
    font-size: 2rem;
    border-radius: 10px;
    color: #555;
    cursor: pointer;
    background-color:#bce7cd;
}
nav .navigation{
    display: none;
}

nav ul.open{
    display: block;
}

.date{
    text-align: center;
    color: white;
    padding: .3rem 0rem;
}

#menu-btn span:nth-child(1){
    display: block;
}

#menu-btn span:nth-child(2){
    display: none;
}

#menu-btn.open span:nth-child(1){
    display: none;
}

#menu-btn.open span:nth-child(2){
    display: block;
}

.logo-container h1{
    font-size: 1rem;
}

main div{
    min-height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    padding: .8rem;
    margin: .8rem;
}

footer{
    background-color: #FFCB2F;
    padding: .5rem 0;
    color: white;   
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}


.logo-container-footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo-container-footer img{
    display: block;
    border-radius: 15px;
    max-width: 90px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: .5rem;
}

.info-container-footer{
    text-align: center;
    margin-top: 10px;
}

footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center
}

footer ul li{
    padding: .5rem;
}

main{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 'banner'
     'hero'
                        'event'
                        'weather'
                        'news'
                        'join'
                        'spot1'
                        'spot2'
                        'spot3';
}


main div:not(:nth-child(2)){
    padding: 1rem;
    background-color: #48B4C9;
    border: none;
    box-shadow:  2px 2px 2px rgba(0,0,0,0.5);
}

main div:not(:nth-child(2)) img{
    width: 100%;
    height: auto;
    margin-top: .8rem;
    border-radius: 10px;
}

main div:not(:nth-child(2)) h2{
    text-align: center;
    margin-bottom: .8rem;
    color: #19195c;
}

main div:not(:nth-child(2)) img{
    width: 100%;
    height: auto;
    margin-top: .8rem;
    border-radius: 10px;
}
main div:not(:nth-child(2)) p{
    margin-top: 1rem;
    padding: 0 .5rem;
    text-align: center;
}

.join-btn{
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    padding: .6rem .9rem;
    border-radius: 10px;
    background-color: #02733E;
    color: white;
}

.join-btn:hover{
    background-color: #F2294E;
    transform: scale(1.01);
}

.banner{
    grid-area: banner;
    background-color:#02733ed3;
    
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    position: relative;
    display: none;
}
.banner p {
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(
        -50%,-50%
    );
}
.show-banner{
    display: block;
}
.event{
    grid-area: event;
}
.news{
    grid-area: news;
}

.spotlight1{
    grid-area: spot1;
}

.weather{
    grid-area: weather;
}
.temp-text{
    font-size: 1.5rem;
    font-weight: bold;
}
.spotlight2{
    grid-area: spot2;
    
}
.join{
    grid-area: join;
}
.spotlight3{
    grid-area: spot3;
    
}


.weather img{
    width: 100%;
    height: auto;
}


/*hero style*/
.hero{
    grid-area: hero;
    background-image: url(../images/wdd230-org.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
#hero-title {
    position: absolute;
    top: 10%;
    left: 20%;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 1.5rem;
}

.hero-cta{
    position: absolute;
    right: 10%;
    bottom: 10%;
    outline: none;
    border: none;
    cursor: pointer;
    padding: .6rem .9rem;
    border-radius: 10px;
    background-color: #02733E;
    color: white;
}

.hero-cta:hover{
    background-color: #F2294E;
    transform: scale(1.01);
}