@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body {
  font-size: 16px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

header,
main,
footer {
  margin: 1rem;
  position: relative;
}

h1 {
  color: rgba(0, 0, 155, 0.699);
  border-bottom: 1px solid #eee;
  text-shadow: 0 0 15px #999;
  width: 100%;
  text-align: center;
}

h2 {
  color: rgba(0, 0, 155, 0.699);
  margin: 0;
}

p {
  margin: 0;
  color: #333;
  padding: 0;
}

main {
  margin-left: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

section {
  margin: 0.25rem;
  padding: 0.35rem;
  background-color: rgb(238, 238, 238);
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section > p {
  min-height: 20px;
}

img {
  width: auto;
    max-width: 325px;
  box-shadow: 0 0 30px #777;
  height: 200px;
  border: 1px solid #333;
}

li > img {
  width: auto;
  height: 30px;
}

footer {
  border-top: 1px solid #555;
  padding: 20px;
}
